@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:300&display=swap');body{
	font-family: 'Noto Sans HK', sans-serif;
}
body, html{
	background-color: whitesmoke;
	padding: 0px;
	margin: 0px;
	min-width: 360px;
}
#menu-openner{
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translate(0,-50%);
	color: white;
	padding: 0px;
	height: 40px;
	z-index: 10000;
}
#menu-openner i{
	font-size: 40px;
}
nav{
	position: fixed;
	top:0px;
	z-index: 1000;
	background-color: white;
	height:100vh;
	width: 300px;
	border: 1px #cbcb solid;
	box-shadow: 2px 2px 10px silver;
}
nav ul{
	margin-top: 20px;
	margin-left: 20px;
	padding-left: 0px;
	border-bottom: 1px #cbcb solid;
}
nav a{
	color: black !important;
	text-decoration: none;
}
nav h2{
	text-align: center;
	margin-top: 10px;
	font-size: 1.8em;
}
nav li {
	list-style-type: none;
	text-align: left;
}
nav li a{
	display: block;
	border-top: 1px #cbcb solid;
	padding: 15px;
	padding-left: 20px;
	transition : padding 500ms;
}
nav li a:hover{
	border-top: 0px #cbcb solid;
	/*background-color: #387aff;*/
	background-image: linear-gradient(110deg, rgba(0,0,0,0) 19px, #387aff 0%);
	color: white !important;
	padding-left: 30px;
}
.form-control{
	border: 1px #cbcb solid;
	border-radius: 5px;
	font-size: 1em;
	margin-right: 2px;
	margin-left: 2px;
	background-color: white;
}
#inputForm,.CodeMirror{
	border: 1px #cbcb solid;
	font-size: 1em;
	margin-right: 2px;
	margin-left: 2px;
	background-color: white;
	box-shadow: 5px 5px 5px silver;
	z-index: 2;
	position: relative;
}
header{
	background-color: #2565e6;
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 5px;
	position: relative;
	z-index: 1000;
}
h1{
	margin: 0px;
	font-size: 30px;
	text-align: center;
	transform: translate(0,-5px);
	margin-left: 70px;
	margin-right: 70px;
}
h1 img{
	height:45px;
	transform: translate(0,12px);
}
section{
	z-index: 1;
	display: flex;
	width: 80%;
	margin: auto;
	padding: 20px;
	padding-top: 0px;
}
#inputArea, #outputArea{
	width: 50%;
	margin: 10px;
}
h2{
	text-transform: uppercase;
	font-size: 1.3em;
	margin: 0px;
	margin-left: 10px;
}
#outputArea textarea{
	background-color: transparent;
	resize: none;
	width: 100%;
	height: auto;
	font-size: 1.1em;
	padding: 10px;
	min-height: calc(100% - 95px); 
	/*Height of the container minus the height of h2 & the padding*/
}
#inputArea h3{
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
}
#inputForm{
	padding: 10px;
	height: auto;
	min-height: calc(100% - 95px); 
	/*Height of the container minus the height of h2 & the padding*/
}
.element{
	margin-bottom: 10px;
	position: relative;
}
.lastElement{
	margin-bottom: 0px !important;
}
.line{
	display: flex;
	padding: 3px;
	margin: 3px;
	margin-left: 30px;
	font-size: 14px;
	padding-right:10px;
	position: relative;
}
.item{
	border: 1px #cbcb solid;
	background-color: white;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.line::after{
	content: "more_vert";
	font-family: 'Material Icons';
	font-size: 17px;
	color: grey;
	position: absolute;
	right:2px;
	cursor:move;
}
.oneChar{
	width: 15px;
}
.button-control{
	border: 1px #cbcb solid;
	font-size: 20px;
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 3px;
	font-weight: bolder;
	color: #656363;
	background-color: white;
	cursor: pointer;
}
.remove-button{
	height:25px;
	font-size: 1.1em;
	position:absolute;
	top: -1px;
	right:5px;
}
.pull-right{
	display: block;
	position: absolute;
	right: 10px;
}
.short{
	width: 30px;
}
.element-adder{
	height:19px;
	border: 1px #cbcb solid;
	border-radius: 3px;
	font-size: 15px;
	padding: 2px;
	padding-top: 0px;
	padding-bottom:0px;
	margin-top: 1px;
}
@media screen and (max-width: 1000px) {
	section{
		display: block;
	}
	#inputArea, #outputArea{
		width: 90%;
		margin: auto;
	}
}
@media screen and (max-width: 600px){
	h1{
		font-size: 25px;
	}
	h1 img{
		height: 35px;
	}
	section{
		padding: 0px;
		width: 100%;
	}
}