@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:300&display=swap');body{
	font-family: 'Noto Sans HK', sans-serif;
}
body,html{
	background-color: whitesmoke;
	padding: 0px;
	margin: 0px;
}
.form-control{
	border: 1px #cbcb solid;
	border-radius: 5px;
	font-size: 1em;
	margin-right: 2px;
	margin-left: 2px;
	background-color: white;
}
#inputForm,.CodeMirror{
	border: 1px #cbcb solid;
	font-size: 1em;
	margin-right: 2px;
	margin-left: 2px;
	background-color: white;
	box-shadow: 5px 5px 5px silver;
}
header{
	background-color: #2565e6;
	margin: 0px;
	padding: 20px;
	padding-top: 0px;
}
h1{
	margin: 0px;
	font-size: 35px;
}
h1 img{
	height:55px;
	transform: translate(0,20px);
}
section{
	display: flex;
	width: 80%;
	margin: auto;
	padding: 20px;
}
#inputArea, #outputArea{
	width: 50%;
	margin: 10px;
}
h2{
	text-transform: uppercase;
	font-size: 1.3em;
	margin: 0px;
	margin-left: 10px;
}
#outputArea textarea{
	background-color: transparent;
	resize: none;
	width: 100%;
	height: auto;
	font-size: 1.1em;
	padding: 10px;
	min-height: calc(100% - 95px); 
	/*Height of the container minus the height of h2 & the padding*/
}
#inputArea h3{
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
}
#inputForm{
	padding: 10px;
	height: auto;
	min-height: calc(100% - 95px); 
	/*Height of the container minus the height of h2 & the padding*/
}
.element{
	margin-bottom: 10px;
}
.lastElement{
	margin-bottom: 0px !important;
}
.line{
	display: flex;
	margin-left: 30px;
}
.oneChar{
	width: 15px;
}
.button-control{
	border: 1px #cbcb solid;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	padding-top: 0px;
	padding-bottom:0px;
	height: 28px;
	margin-top: 3px;
	font-weight: bolder;
	color: #656363;
	background-color: white;
	cursor: pointer;
}
.remove-button{
	height:25px;
	font-size: 1.1em;
}